<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table {
      width: 500px;
      margin: 100px auto;
      border-collapse: collapse;
      text-align: center;
    }

    td,
    th {
      border: 1px solid #111;
    }

    thead tr {
      height: 40px;
      background: #ccc;
    }
  </style>
</head>

<body>
  <div>
    <table>
      <thead>
        <tr>
          <th>姓名</th>
          <th>科目</th>
          <th>成绩</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <script>
    var data = [{
        name: '魏璎珞',
        subject: 'JavaScript',
        score: 100
      },
      {
        name: '弘历',
        subject: 'JavaScript',
        score: 98
      },
      {
        name: '傅恒',
        subject: 'JavaScript',
        score: 99
      },
      {
        name: '明珏',
        subject: 'JavaScript',
        score: 88
      },
      {
        name: '大猪蹄子',
        subject: 'JavaScript',
        score: 0
      }
    ];
    var tbody = document.querySelector('tbody');
    for (let i = 0; i < data.length; i++) {
      var tr = document.createElement('tr');
      tbody.appendChild(tr);

      for (const k in data[i]) {
        var th = document.createElement('th');
        th.innerHTML = data[i][k];
        tr.appendChild(th);
      }
      var th = document.createElement('th');
      th.innerHTML = '<a href="javascript:;">删除</a>';
      tr.appendChild(th);
    }
    var as = document.querySelectorAll('a');
    for (let i = 0; i < as.length; i++) {
      as[i].onclick = function () {
        tbody.removeChild(this.parentNode.parentNode);
      }
    }
  </script>
</body>

</html>