<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      background: white;
    }
  </style>
</head>

<body>
  <input type="button" value="关灯">
  <script>
    var input = document.querySelector('input');
    var flag = 0;
    input.onclick = function () {
      if (flag == 0) {
        document.body.style.background = 'black';
        this.value = '开灯'
        flag = 1;
      } else {
        document.body.style.background = 'white';
        this.value = '关灯'
        flag = 0;
      }
    }
  </script>
</body>

</html>