<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script>
    var str = 'asdhjkfjkahjghsdjksgkjsfda';
    var o = {};
    for (let i = 0; i < str.length; i++) {
      var chars = str.charAt(i);
      console.log(chars);
      if (o[chars]) {
        o[chars]++;
      } else {
        o[chars] = 1;
      }
    }
    console.log(o);
    var max = 0;
    var index = '';
    for (var k in o) {
      if (o[k] > max) {
        max = o[k];
        index = k;
      }
    }
    console.log(max, index);
    console.log('出现最多次的字符是' + index + '，出现了' + max + '次');
  </script>
</body>

</html>