*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bgc{
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
  /* height: 400px; */
  border: 1px solid #fff;
}
/*--------------------------------------1-------------------------------------------------- */
.loginBtn{
  position: relative;
	display: inline-block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
  color: white;

  height: 36px;
  margin: 10px;
}
.loginBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border-radius: 4px;
  transition: box-shadow .5s ease, transform .2s ease; 
  will-change: transform;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.loginBtn:hover::before {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}
.loginBtn::after {
  position: relative;
  display: inline-block;
  content: attr(data-title);
  font-size: 1.6rem;
  font-size: 16px;
  transition: transform .2s ease; 
  font-weight: 600;
  letter-spacing: 0.1px;
  will-change: transform;
}

/*-------------------------------------- 2----------------------------------------- */
strong {
  font-weight: bold;
}

.button {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
  border: 1px solid #bfbfbf;
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #8c8c8c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 9px 16px 9px;
  margin: 10px;
  transition: all 20ms ease-out;
  vertical-align: top;

  height: 36px;
}
.button:hover, .button:focus {
  background: #f2f2f2;
  border-color: #8c8c8c;
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2;
}
.button:active {
  background: #f2f2f2;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button .fa {
  color: #bfbfbf;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #42b0e3;
  background-image: linear-gradient(to bottom, #42b0e3, #2ba9e3);
  border: 1px solid #107db0;
  box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-blue:hover, .button-blue:focus {
  background: #2ba9e3;
  border-color: #004c6f;
  box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3;
}
.button-blue:active {
  background: #2ba9e3;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-blue .fa {
  color: #107db0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #97cc76;
  background-image: linear-gradient(to bottom, #97cc76, #8bcc62);
  border: 1px solid #5f993a;
  box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-green:hover, .button-green:focus {
  background: #8bcc62;
  border-color: #326612;
  box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b;
}
.button-green:active {
  background: #8bcc62;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-green .fa {
  color: #5f993a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-purple {
  background-color: #847bba;
  background-image: linear-gradient(to bottom, #847bba, #7568ba);
  border: 1px solid #493e87;
  box-shadow: inset 0 1px 0 #bab6d4, inset 0 -1px 0 #655aa1, inset 0 0 0 1px #948dba, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-purple:hover, .button-purple:focus {
  background: #7568ba;
  border-color: #1f1654;
  box-shadow: inset 0 1px 0 #bab6d4, inset 0 -1px 0 #655aa1, inset 0 0 0 1px #948dba;
}
.button-purple:active {
  background: #7568ba;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-purple .fa {
  color: #493e87;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-orange {
  background-color: #f58a38;
  background-image: linear-gradient(to bottom, #f58a38, #f57c20);
  border: 1px solid #c25706;
  box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-orange:hover, .button-orange:focus {
  background: #f57c20;
  border-color: #773300;
  box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851;
}
.button-orange:active {
  background: #f57c20;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-orange .fa {
  color: #c25706;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-red {
  background-color: #ed6d64;
  background-image: linear-gradient(to bottom, #ed6d64, #ed574c);
  border: 1px solid #ba3329;
  box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-red:hover, .button-red:focus {
  background: #ed574c;
  border-color: #870c03;
  box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b;
}
.button-red:active {
  background: #ed574c;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-red .fa {
  color: #ba3329;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: #fce374;
  background-image: linear-gradient(to bottom, #fce374, #fcdf5b);
  border: 1px solid #c9ae34;
  box-shadow: inset 0 1px 0 #fff6ce, inset 0 -1px 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #967d09;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.button-yellow:hover, .button-yellow:focus {
  background: #fcdf5b;
  border-color: #967d09;
  box-shadow: inset 0 1px 0 #fff6ce, inset 0 -1px 0 #e3c852, inset 0 0 0 1px #fce88d;
}
.button-yellow:active {
  background: #fcdf5b;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-yellow .fa {
  color: #c9ae34;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button .fa {
  float: left;
  font-size: 14px;
  line-height: 20px;
  margin: -1px 8px 0 -4px;
  vertical-align: top;
}

/* -------------------------------3 ------------------------------------------*/
.btn{
  width: 140px;
  line-height: 21px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow:1px 1px 1px #333;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  overflow: hidden;

  height: 42px;
  }
  .button:nth-child(6n){
  margin-right: 0;
  }
  .button.gray{
  color: #8c96a0;
  text-shadow:1px 1px 1px #fff;
  border:1px solid #dce1e6;
  box-shadow: 0 1px 2px #fff inset,0 -1px 0 #a8abae inset;
  background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
  background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
  background: linear-gradient(top,#f2f3f7,#e4e8ec);
  }
  .button.blue{
  border:1px solid #1e7db9;
  box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
  background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
  background: -moz-linear-gradient(top,#42a4e0,#2e88c0);
  background: linear-gradient(top,#42a4e0,#2e88c0);
  }
  .round,
    .side,
    .tags{
  padding-right: 30px;
  }
  .round:after{
  position: absolute;
  display: inline-block;
  content: "\003c";
  top:50%;
  right:10px;
  margin-top: -10px;
  width: 17px;
  height: 20px;
  padding-left: 3px;
  line-height:18px;
  font-size: 10px;
  font-weight: normal;
  border-radius: 10px;
  text-shadow:-2px 0 1px #333;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg); 
  transform:rotate(-90deg);
  }
  .gray.round:after{
  box-shadow:1px 0 1px rgba(255,255,255,1) inset,1px 0 1px rgba(0,0,0,.2);
  background:-webkit-linear-gradient(top,#dce1e6,#dde2e7);
  background:-moz-linear-gradient(top,#dce1e6,#dde2e7);
  background:linear-gradient(top,#dce1e6,#dde2e7);
  text-shadow:-2px 0 1px #fff;
  }
  .blue.round:after{
  box-shadow:1px 0 1px rgba(255,255,255,.8) inset,1px 0 1px rgba(18,85,128,.9);
  background:-webkit-linear-gradient(top,#1e7db9,#2b85bd);
  background:-moz-linear-gradient(top,#1e7db9,#2b85bd);
  background:linear-gradient(top,#1e7db9,#2b85bd);                         
  }
  .side:after{
  position: absolute;
  display: inline-block;
  content: "\00bb";
  top:3px;
  right:-4px;
  width: 38px;
  height:30px;
  font-weight: normal;
  line-height: 26px;
  border-radius:0 0 5px 5px;
  text-shadow:-2px 0 1px #333;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  transform:rotate(-90deg);
  }
  .gray.side:after{
  text-shadow:-2px 0 1px #fff;
  border-top: 1px solid #d4d4d4;
  box-shadow:-2px 0 1px #eceef1 inset;
  background:-webkit-linear-gradient(right,#e1e6ea,#f2f2f6 60%);
  background:-moz-linear-gradient(right,#e1e6ea,#f2f2f6 60%);
  background:linear-gradient(right,#e1e6ea,#f2f2f6 60%); 
  }
  .black.side:after{
  border-top: 1px solid #222;
  box-shadow:-2px 0 1px #606060 inset;
  background:-webkit-linear-gradient(right,#373737,#555 60%);
  background:-moz-linear-gradient(right,#373737,#555 60%);
  background:linear-gradient(right,#373737,#555 60%); 
  }
  .red.side:after{
  border-top: 1px solid #aa1e1e;
  box-shadow:-2px 0 1px #c75959 inset;
  background:-webkit-linear-gradient(right,#b82929,#d73f3f 60%);
  background:-moz-linear-gradient(top,#b82929,#d73f3f 60%);
  background:linear-gradient(top,#b82929,#d73f3f 60%); 
  }
  .yellow.side:after{
  border-top: 1px solid #ba8f06;
  box-shadow:-2px 0 1px #deb842 inset;
  background:-webkit-linear-gradient(right,#d5a406,#fdc40b 60%);
  background:-moz-linear-gradient(right,#d5a406,#fdc40b 60%);
  background:linear-gradient(right,#d5a406,#fdc40b 60%); 
  }
  .green.side:after{
  border-top: 1px solid #53b567;
  box-shadow:-2px 0 1px #8ad599 inset;
  background:-webkit-linear-gradient(right,#69ca7c,#91e5a5 60%);
  background:-moz-linear-gradient(right,#69ca7c,#91e5a5 60%);
  background:linear-gradient(right,#69ca7c,#91e5a5 60%); 
  }
  .blue.side:after{
  border-top: 1px solid #1971a8;
  box-shadow:-2px 0 1px #559dca inset;
  background:-webkit-linear-gradient(right,#2482bd,#3fa2e0 60%);
  background:-moz-linear-gradient(right,#2482bd,#3fa2e0 60%);
  background:linear-gradient(right,#2482bd,#3fa2e0 60%); 
  }
  .tags:after{
  font-weight: normal;
  position: absolute;
  display: inline-block;
  content: "FREE";
  top:-3px;
  right: -33px;
  color: #fff;
  text-shadow:none;
  width: 85px;
  height:25px;
  line-height: 28px;
  -webkit-transform:rotate(45deg) scale(.7,.7);
  -moz-transform:rotate(45deg) scale(.7,.7);
  transform:rotate(45deg) scale(.7,.7);
  }
  .gray.tags:after{
  background: #8c96a0;
  border:2px solid #fff;	
  }
  .blue.tags:after{
  background: #1e7db9;
  border:2px solid #54b1e9;	
  }
  .button.rarrow,
    .button.larrow{
  overflow:visible;
  }
  .rarrow:after,	
    .rarrow:before,
    .larrow:after,	
    .larrow:before{
  position:absolute;
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  transform:rotate(45deg);
  }
  .rarrow:before{
  width: 27px;
  height: 27px;
  top: 6px;
  right: -13px;
  clip: rect(auto auto 26px 2px);
  }
  .rarrow:after{
  top: 6px;
  right: -12px;
  clip: rect(auto auto 26px 2px);
  }
  .black.rarrow:before{
  background: #333;
  }
  .black.rarrow:after{
  box-shadow: 0 1px 0 #8B8B8B inset,-1px 0 0 #3d3d3d inset,-2px 0 0 #8B8B8B inset;
  background:-webkit-linear-gradient(top left,#656565,#4C4C4C);
  background:-moz-linear-gradient(top left,#656565,#4C4C4C);
  background:linear-gradient(top left,#656565,#4C4C4C);
  }
  .blue.rarrow:before{
  background: #1E7DB9;
  }
  .blue.rarrow:after{
  box-shadow: 0 1px 0 #8FCAEE inset,-1px 0 0 #497897 inset,-2px 0 0 #8FCAEE inset;
  background:-webkit-linear-gradient(top left,#42A4E0,#2E88C0);
  background:-moz-linear-gradient(top left,#42A4E0,#2E88C0);
  background:linear-gradient(top left,#42A4E0,#2E88C0);
  }
  .larrow:before{
  top: 6px;
  left: -13px;
  width: 27px;
  height: 27px;
  clip: rect(2px 26px auto auto);
  }
  .larrow:after{
  top: 6px;
  left: -12px;
  clip: rect(2px 26px auto auto);
  }
  .black.larrow:before{
  background: #333;
  }
  .black.larrow:after{
  box-shadow: 0 -1px 0 #3d3d3d inset,0 -2px 0 #8B8B8B inset,1px 0 0 #8B8B8B inset;
  background:-webkit-linear-gradient(top left,#656565,#4C4C4C);
  background:-moz-linear-gradient(top left,#656565,#4C4C4C);
  background:linear-gradient(top left,#656565,#4C4C4C);
  }
  .blue.larrow:before{
  background: #1E7DB9;
  }
  .blue.larrow:after{
  box-shadow: 0 -1px 0 #497897 inset,0 -2px 0 #8FCAEE inset,1px 0 0 #8FCAEE inset;
  background:-webkit-linear-gradient(top left,#42A4E0,#2E88C0);
  background:-moz-linear-gradient(top left,#42A4E0,#2E88C0);
  background:linear-gradient(top left,#42A4E0,#2E88C0);
  }
  .gray:hover{
  background: -webkit-linear-gradient(top,#fefefe,#ebeced);
  background: -moz-linear-gradient(top,#f2f3f7,#ebeced);
  background: linear-gradient(top,#f2f3f7,#ebeced);
  }
  .black:hover{
  background: -webkit-linear-gradient(top,#818181,#575757);
  background: -moz-linear-gradient(top,#818181,#575757);
  background: linear-gradient(top,#818181,#575757);
  }
  .red:hover{
  background: -webkit-linear-gradient(top,#eb6f6f,#c83c3c);
  background: -moz-linear-gradient(top,#eb6f6f,#c83c3c);
  background: linear-gradient(top,#eb6f6f,#c83c3c);
  }
  .yellow:hover{
  background: -webkit-linear-gradient(top,#ffd859,#e3bb38);
  background: -moz-linear-gradient(top,#ffd859,#e3bb38);
  background: linear-gradient(top,#ffd859,#e3bb38);
  }
  .green:hover{
  background: -webkit-linear-gradient(top,#aaebb9,#82d392);
  background: -moz-linear-gradient(top,#aaebb9,#82d392);
  background: linear-gradient(top,#aaebb9,#82d392);
  }
  .blue:hover{
  background: -webkit-linear-gradient(top,#70bfef,#4097ce);
  background: -moz-linear-gradient(top,#70bfef,#4097ce);
  background: linear-gradient(top,#70bfef,#4097ce);
  }
  .gray:active{
  top:1px;
  box-shadow: 0 1px 3px #a8abae inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#e4e8ec,#e4e8ec);
  background: -moz-linear-gradient(top,#e4e8ec,#e4e8ec);
  background: linear-gradient(top,#e4e8ec,#e4e8ec);
  }
  .black:active{
  top:1px;
  box-shadow: 0 1px 3px #111 inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#424242,#575757);
  background: -moz-linear-gradient(top,#424242,#575757);
  background: linear-gradient(top,#424242,#575757);
  }
  .red:active{
  top:1px;
  box-shadow: 0 1px 3px #5b0505 inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#b11a1a,#bf2626);
  background: -moz-linear-gradient(top,#b11a1a,#bf2626);
  background: linear-gradient(top,#b11a1a,#bf2626);
  }
  .yellow:active{
  top:1px;
  box-shadow: 0 1px 3px #816b1f inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#d3a203,#dba907);
  background: -moz-linear-gradient(top,#d3a203,#dba907);
  background: linear-gradient(top,#d3a203,#dba907);
  }
  .green:active{
  top:1px;
  box-shadow: 0 1px 3px #4d7254 inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#5eac6e,#72b37e);
  background: -moz-linear-gradient(top,#5eac6e,#72b37e);
  background: linear-gradient(top,#5eac6e,#72b37e);
  }
  .blue:active{
  top:1px;
  box-shadow: 0 1px 3px #114566 inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#1a71a8,#1976b1);
  background: -moz-linear-gradient(top,#1a71a8,#1976b1);
  background: linear-gradient(top,#1a71a8,#1976b1);
  }
  .gray.side:hover:after{
  background:-webkit-linear-gradient(right,#e7ebee,#f8f8f8 60%);
  background:-moz-linear-gradient(right,#e7ebee,#f8f8f8 60%);
  background:linear-gradient(right,#e7ebee,#f8f8f8 60%);
  }
  .black.side:hover:after{
  background:-webkit-linear-gradient(right,#555,#6f6f6f 60%);
  background:-moz-linear-gradient(right,#555,#6f6f6f 60%);
  background:linear-gradient(right,#555,#6f6f6f 60%); 
  }
  .red.side:hover:after{
  background:-webkit-linear-gradient(right,#c43333,#dc4949 60%);
  background:-moz-linear-gradient(right,#c43333,#dc4949 60%);
  background:linear-gradient(right,#c43333,#dc4949 60%); 
  }
  .yellow.side:hover:after{
  background:-webkit-linear-gradient(right,#e1b21a,#fbc71d 60%);
  background:-moz-linear-gradient(right,#e1b21a,#fbc71d 60%);
  background:linear-gradient(right,#e1b21a,#fbc71d 60%); 
  }
  .green.side:hover:after{
  background:-webkit-linear-gradient(right,#85da95,#94e0a5 60%);
  background:-moz-linear-gradient(right,#85da95,#94e0a5 60%);
  background:linear-gradient(right,#85da95,#94e0a5 60%); 
  }
  .blue.side:hover:after{
  background:-webkit-linear-gradient(right,#338fc8,#56b2eb 60%);
  background:-moz-linear-gradient(right,#338fc8,#56b2eb 60%);
  background:linear-gradient(right,#338fc8,#56b2eb 60%); 
  }
  .gray.side:active:after{
  top:4px;
  border-top: 1px solid #9fa6ab;
  box-shadow:-1px 0 1px #a8abae inset;
  background:-webkit-linear-gradient(right,#e4e8ec,#e4e8ec 60%);
  background:-moz-linear-gradient(right,#e4e8ec,#e4e8ec 60%);
  background:linear-gradient(right,#e4e8ec,#e4e8ec 60%); 
  }
  .black.side:active:after{
  box-shadow:-1px 0 1px #111 inset;
  background:-webkit-linear-gradient(right,#414040,#4d4c4c 60%);
  background:-moz-linear-gradient(right,#414040,#4d4c4c 60%);
  background:linear-gradient(right,#414040,#4d4c4c 60%); 
  }
  .red.side:active:after{
  box-shadow:-1px 0 1px #4b0707 inset;
  background:-webkit-linear-gradient(right,#b11a1a,#b11a1a 60%);
  background:-moz-linear-gradient(right,#b11a1a,#b11a1a 60%);
  background:linear-gradient(right,#b11a1a,#b11a1a 60%); 
  }
  .yellow.side:active:after{
  box-shadow:-1px 0 1px #816b1f inset;
  background:-webkit-linear-gradient(right,#d3a203,#dba907 60%);
  background:-moz-linear-gradient(right,#d3a203,#dba907 60%);
  background:linear-gradient(right,#d3a203,#dba907 60%); 
  }
  .green.side:active:after{
  box-shadow:-1px 0 1px #33663d inset;
  background:-webkit-linear-gradient(right,#63a870,#72b37e 60%);
  background:-moz-linear-gradient(right,#63a870,#72b37e 60%);
  background:linear-gradient(right,#63a870,#72b37e 60%); 
  }
  .blue.side:active:after{
  box-shadow:-1px 0 1px #114566 inset;
  background:-webkit-linear-gradient(right,#1a71a8,#1976b1 60%);
  background:-moz-linear-gradient(right,#1a71a8,#1976b1 60%);
  background:linear-gradient(right,#1a71a8,#1976b1 60%); 
  }
  .gray.rarrow:hover:after,
    .gray.rarrow:hover:after{
  background:-webkit-linear-gradient(top left,#fefefe,#ebeced);
  background:-moz-linear-gradient(top left,#fefefe,#ebeced);
  background:linear-gradient(top left,#fefefe,#ebeced);
  }
  .black.rarrow:hover:after,
    .black.larrow:hover:after{
  background:-webkit-linear-gradient(top left,#818181,#575757);
  background:-moz-linear-gradient(top left,#818181,#575757);
  background:linear-gradient(top left,#818181,#575757);
  }
  .red.rarrow:hover:after,
    .red.larrow:hover:after{
  background:-webkit-linear-gradient(top left,#eb6f6f,#c83c3c);
  background:-moz-linear-gradient(top left,#eb6f6f,#c83c3c);
  background:linear-gradient(top left,#eb6f6f,#c83c3c);
  }
  .yellow.rarrow:hover:after,
    .yellow.larrow:hover:after{
  background:-webkit-linear-gradient(top left,#ffd859,#e3bb38);
  background:-moz-linear-gradient(top left,#ffd859,#e3bb38);
  background:linear-gradient(top left,#ffd859,#e3bb38);
  }
  .green.rarrow:hover:after,
    .green.larrow:hover:after{
  background:-webkit-linear-gradient(top left,#aaebb9,#82d392);
  background:-moz-linear-gradient(top left,#aaebb9,#82d392);
  background:linear-gradient(top left,#aaebb9,#82d392);
  }
  .blue.rarrow:hover:after,
    .blue.larrow:hover:after{
  background:-webkit-linear-gradient(top left,#70bfef,#4097ce);
  background:-moz-linear-gradient(top left,#70bfef,#4097ce);
  background:linear-gradient(top left,#70bfef,#4097ce);
  }
  .gray.rarrow:active:after,
    .gray.larrow:active:after{
  background:-webkit-linear-gradient(top left,#e4e8ec,#e4e8ec);
  background:-moz-linear-gradient(top left,#e4e8ec,#e4e8ec);
  background:linear-gradient(top left,#e4e8ec,#e4e8ec);
  }
  .black.rarrow:active:after,
    .black.larrow:active:after{
  background:-webkit-linear-gradient(top left,#424242,#575757);
  background:-moz-linear-gradient(top left,#424242,#575757);
  background:linear-gradient(top left,#424242,#575757);
  }
  .red.rarrow:active:after,
    .red.larrow:active:after{
  background:-webkit-linear-gradient(top left,#b11a1a,#bf2626);
  background:-moz-linear-gradient(top left,#b11a1a,#bf2626);
  background:linear-gradient(top left,#b11a1a,#bf2626);
  }
  .yellow.rarrow:active:after,
    .yellow.larrow:active:after{
  background:-webkit-linear-gradient(top left,#d3a203,#dba907);
  background:-moz-linear-gradient(top left,#d3a203,#dba907);
  background:linear-gradient(top left,#d3a203,#dba907);
  }
  .green.rarrow:active:after,
    .green.larrow:active:after{
  background:-webkit-linear-gradient(top left,#63a870,#72b37e);
  background:-moz-linear-gradient(top left,#63a870,#72b37e);
  background:linear-gradient(top left,#63a870,#72b37e);
  }
  .blue.rarrow:active:after,
    .blue.larrow:active:after{
  background:-webkit-linear-gradient(top left,#1a71a8,#1976b1);
  background:-moz-linear-gradient(top left,#1a71a8,#1976b1);
  background:linear-gradient(top left,#1a71a8,#1976b1);
  }
  .gray.rarrow:active:after{
  box-shadow: 0 1px 0 #b7babd inset,-1px 0 0 #b7babd inset;
  }
  .gray.larrow:active:after{
  box-shadow: 0 -1px 0 #b7babd inset,1px 0 0 #b7babd inset;
  }
  .black.rarrow:active:after{
  box-shadow: 0 1px 0 #333 inset,-1px 0 0 #333 inset;
  }
  .black.larrow:active:after{
  box-shadow: 0 -1px 0 #333 inset,1px 0 0 #333 inset;
  }
  .red.rarrow:active:after{
  box-shadow: 0 1px 0 #640909 inset,-1px 0 0 #640909 inset;
  }
  .red.larrow:active:after{
  box-shadow: 0 -1px 0 #640909 inset,1px 0 0 #640909 inset;
  }
  .yellow.rarrow:active:after{
  box-shadow: 0 1px 0 #816b1f inset,-1px 0 0 #816b1f inset;
  }
  .yellow.larrow:active:after{
  box-shadow: 0 -1px 0 #816b1f inset,1px 0 0 #816b1f inset;
  }
  .green.rarrow:active:after{
  box-shadow: 0 1px 0 #4d7254 inset,-1px 0 0 #4d7254 inset;
  }
  .green.larrow:active:after{
  box-shadow: 0 -1px 0 #4d7254 inset,1px 0 0 #4d7254 inset;
  }
  .blue.rarrow:active:after{
  box-shadow: 0 1px 0 #114566 inset,-1px 0 0 #114566 inset;
  }
  .blue.larrow:active:after{
  box-shadow: 0 -1px 0 #114566 inset,1px 0 0 #114566 inset;
  }